body {          
    color: white;              /* definido a cor do texto como branco */
    background: black;         /*define a cor do fundo da página na cor preta */
    margin: 0px;                  /*Zera o espaço próximo a margem da página */
    font-family: "Chakra Petch", sans-serif;   /* Alterar a fonte do Texto */
    margin-bottom: 400px;         /* Ajustar a margem inferior da Página*/
}

